body {
   
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(204, 66, 66),yellow);
}

#container{
  
  height: 200px;
   width: 550px;
   background-color: #f6f6f6;
   display: flex;
   margin: 175px auto;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 5px solid #888169;
   box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);

}

#output{
  
    font-size: 50px;
    text-align: center;
}

#date{

   font-size: 50px;
   text-align: center;

}